
.text-editor__editor {


     &:focus {
           outline: none;

      } 
      &::placeholder {
        color: rgb(200, 200, 200);
        font-size: 20px;
      }

      color: white;

}
.wola {
  /* Add your desired paragraph styles here */
  margin: 1em 0;
  font-size: 18px;
  line-height: 1.5;
  
}                                                                                           


/* Basic editor styles */
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }
}

/* Placeholder (at the top) */
.tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }
}

/* styles/Editor.module.css */
.ProseMirror ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.ProseMirror ol li {
  margin: 5px 0;
}

.ProseMirror ul {
  list-style-type: lower-latin;
    margin-left: 20px;

}
.ProseMirror h1 {
  font-size: 30px;
}