/* icon.css */
.lucide {
  color: white;
  width: 30px;
  height: 30px;
  background-color: black;
  stroke-width: 2px;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.lucide:hover {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lucide:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}
